@font-face {
  font-family: "D2Coding";
  src: url("@/public/fonts/D2Coding-Ver1.3.2-20180524-all.ttc")
    format("opentype");
}

@font-face {
  font-family: "s-core-dream-thin";
  src: url("@/public/fonts/SCDream1.otf") format("opentype");
}

@font-face {
  font-family: "s-core-dream-light";
  src: url("@/public/fonts/SCDream3.otf") format("opentype");
}

@font-face {
  font-family: "s-core-dream-regular";
  src: url("@/public/fonts/SCDream4.otf") format("opentype");
}
@font-face {
  font-family: "s-core-dream-bold";
  src: url("@/public/fonts/SCDream6.otf") format("opentype");
}
@font-face {
  font-family: "s-core-dream-extrabold";
  src: url("@/public/fonts/SCDream7.otf") format("opentype");
}
